logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/config.*.js
config/**/config.*.ts
!config/**/config.example.ts
!config/**/config.default.example.ts
app/**/*.map
test/**/*.map
config/**/*.map
